<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="Moq" version="4.20.72" targetFramework="net48" />
  <package id="NUnit" version="3.13.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" requireReinstallation="True" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>